@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

:root{
    /*---- COLORS ---*/
    --dark-color: #0B021F;
    --light-color: #F9FBEC;
    --first-blue-color:  #0E0848;
    --lime-color-alt: #E1F67A;
    --highlight-color: #D4BCF5;

    /*----TYPOGRAPHY---*/
    --body-font:'Manrope', sans-serif;

    --big-font-size: 32px;
    --h1-font-size: 24px;
    --h2-font-size: 20px;
    --h3-font-size: 18px;
    --normal-font-size: 16px;
    --small-font-size: 14px;
    --smaller-font-size: 1px;
}

h1, 
h2, 
h3, 
label, 
p, input{
    font-family: var(--body-font);
}

#pSaidaEsperada ,
#labelInputEntrada {
    font-size: 29px;
    font-weight: 600;
    margin: 0;
}

html{
    background-color: var(--dark-color);
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

main{
    margin: auto 8%;
    padding-top: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: transparent;
    padding: 4px 6px;
    border-radius: 5px;   
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
  }

  
.input, .output{
    background-color: var(--light-color);
    padding: 48px 36px;
}

.output{
    border-top: 2px dashed var(--dark-color);
    border-radius: 16px 16px 5px 5px;
}

.input{
    border-radius: 5px 5px 16px 16px;
}


section div:first-child{
    margin-bottom: 24px;
}


.inputEntrada label{
    display: block;
}

input{
    background-color: transparent;
    border: none;
    text-align: center;
}

input:focus {
    outline: none;
  }

#inputEntrada{
    font-size: 35px;
    display: block;
    margin: 5px auto;
}

.settings{
    border-top: solid var(--highlight-color) 1px;
    padding-top: 16px;
}

.qtddHoras{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sideBySide{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sideBySide label{
    width: 60%;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #E1F67A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

footer img{
    width: 90px;
}

footer p{
    margin: 0;
    font-size: 14px;
}